
body{
    height: 100%;
    margin: 0px;   
}
#page{
    height: 100vh; 
    background-color: #808080; 
    background-image: url('IMG_E0205.JPG');
}
#titleBar{
    height: 35px;
    width: auto;
    background-color: #232023;
    
}
#leftBar{
    width:250px ;
    height: 30px;
    float: left;
    margin-left:5px;
}
#title{
    margin: 10px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:1000;
    
}
#rightBar{
    width: 300px;
    height: 30px;
    float:right;
    margin-right:50px;
    margin-top: 5px;
}

#about{
    margin:20px;
    font-size: larger;
}
#resume{
    margin:20px;
    font-size: larger;
}
#projects{
    margin:20px;
    font-size: larger;
}
#home{
    margin:20px;
    font-size: larger;
}
#core{
    
    width: 750px;
    height: auto;
    margin: auto;
    background-color: #232023;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,1);
    opacity: 0.7;
   
    
    
}
#writing{
    margin:auto;
    width:700px;
    margin-top: 200px ;
    padding-top:5px;
    padding-bottom:5px;
    color:blanchedalmond;
}
a{
    text-decoration: none;
    color:blanchedalmond;
}
#words{
    font-size: large;
}
#sideBar{
   
    height: 100vh;
    width: 160px;
    float: left;
    display:flex;
    flex-direction: column;
}
#title{
    width:100px;
    margin: 0;
    margin-left: 12px;
    margin-top: 5px;
}
#boxOne{
    height: 250px;
    width: auto;
    margin-top:auto;  
}