
body{
    height: 100%;
    margin: 0px; 
    background-color:#2f4f4f; 
    
}
#page{
    position: absolute;
    
    
    width: 100%;
    height: 100%; 
    
}
#titleBar{
    height: 35px;
    width: auto;
    background-color: #232023;
    transform-origin: 50% 50%;
}
#leftBar{
    width:250px ;
    height: 30px;
    float: left;
    margin-left:5px;
}
#title{
    margin: 10px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:1000;
    
}
#rightBar{
    width: 300px;
    height: 30px;
    float:right;
    margin-top: 5px;
}

#about{
    margin:20px;
    font-size: larger;
}
#resume{
    margin:20px;
    font-size: larger;
}
#projects{
    margin:20px;
    font-size: larger;
}
#home{
    margin:20px;
    font-size: larger;
}
#core{
    
    width: auto;
    height: 5%;
    margin-top: 5%;   
}
#writing{
    
    width:200px;

    float:left;
    width: auto;
    font-size: 15vw;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:5px;
    color:blanchedalmond;
}
a{
    text-decoration: none;
    color:blanchedalmond;
}
#words{
    font-size: large;
}
#sideBar{
   
    height: 100vh;
    width: 160px;
    float: left;
    display:flex;
    flex-direction: column;
}
#title{
    width:100px;
    margin: 0;
    margin-left: 12px;
    margin-top: 5px;
}
#boxOne{
    height: 200px;
    width: auto;
    margin-top:auto; 
     
}

#pic{
    height: 100vh;
    width:706px;
    float: right;
    display:flex;
    flex-direction: column;
}
#me{
    width: 706px;
    height: 750px;
    background-image: url('face.png');
    margin-top: auto;
    

}
.social{
width:auto;
height:50px;
margin-top: 9%;
font-size: medium;


}
#git{
    float:right;
    margin-top:10% ;
    margin-right: 25%;
    height: auto;
    width:auto;
}
#sCloud{
    float:right;
    margin-top:10% ;
    margin-right: 10%;
    height: auto;
    width:auto;
}
#insta{
    float:right;
    margin-top:10% ;
    margin-right: 20%;
    height: auto;
    width:auto;
}